# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Docker
*.log

# Delta Lake / Spark
spark-warehouse/
derby.log
metastore_db/

# dbt
target/
dbt_packages/
logs/

# OS
.DS_Store
Thumbs.db